* {
	box-sizing: border-box;
}
.block1 {
	background-image: url("images/back1.jpg");
	background-size: 100%;
	width: 101%;
	height: 50vw;
	margin-top: -1vw;
	margin-left: -0.5vw;
	padding-top: 13vw;
}
@media only screen and (max-width: 480px) {
 	.block1 {
 		height: 130vw;
 		transition: 0.5s;
 	}
 }
.block2 {
	background-image: url("images/back3.jpg");
	background-size: 100%;
	width: 101%;
	height: 50vw;
	margin-left: -0.5vw;
	padding-top: 13vw;
}
@media only screen and (max-width: 480px) {
 	.block2 {
 		height: 130vw;
 		transition: 0.5s;
 	}
 }
.block3 {
	background-image: url("images/back2.jpg");
	background-size: 100%;
	width: 101%;
	height: 50vw;
	padding-top: 5vw;
	margin-left: -0.5vw;
}
@media only screen and (max-width: 480px) {
 	.block3 {
 		height: 130vw;
 		transition: 0.5s;
 	}
 }
.buttons {
	width: 100%;
	height: 3.4vw;
	padding-left: 70%;
	position: fixed;
	top: 0;
	z-index: 40;
}
@media only screen and (max-width: 480px) {
 	.buttons {
 		padding-left: 35%;
 		transition: 0.5s;
 	}
 }
.buttons li {
	list-style: none;
	float: left;
}
.in {
	display: block;
	background-image: url("images/btn1.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 5vw;
	height: 2.3vw;
	border-radius: 0.3vw;
}
@media only screen and (max-width: 480px) {
 	.in {
 		height: 6vw;
 		width: 10vw;
 		transition: 0.5s;
 	}
 }
.in:hover {
	background-image: url("images/btn1h.jpg");
	transition: 0.4s;
}
.in:active {
	background-image: url("images/btn1a.jpg");
}
.reg {
	display: block;
	background-image: url("images/btn2.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 10vw;
	height: 2.3vw;
	border-radius: 0.3vw;
	margin-left: 4%;
}
@media only screen and (max-width: 480px) {
 	.reg {
 		height: 6vw;
 		width: 20.5vw;
 		transition: 0.5s;
 	}
 }
.red:hover {
	background-image: url("images/btn2h.jpg");
	transition: 0.4s;
}
.reg:active {
	background-image: url("images/btn2a.jpg");
}
.text {
	font-family: Century Gothic;
	color: white;
	font-size: 1.5vw;
	margin-left: 20%;
	width: 45vw;
}
@media only screen and (max-width: 480px) {
 	.text {
 		margin-left: 15%;
 		margin-top: 60%;
 		width: 70%;
 		font-size: 3vw;
 		transition: 0.5s;
 	}
 }
.head {
	font-family: Verdana;
	color: white;
	font-size: 2vw;
	display: block;
	border-bottom: 0.1vw solid white;
	padding-bottom: 0.2vw;
	width: 60%;
}
@media only screen and (max-width: 480px) {
 	.head {
 		font-size: 4vw;
 		width: 90%;
 		transition: 0.5s;
 	}
 }
.row {
	margin-left: 46%;
	margin-top: 14%;
	display: block;
	width: 2vw;
	height: 4.9vw;
	background-image: url("images/row.png");
	background-repeat: no-repeat;
	background-size: 110%;
	background-position: center;
	position: fixed;
	z-index: 40;
} 
@media only screen and (max-width: 1100px) {
 	.row {
 		background-size: 100%;
 		transition: 0.5s;
 	}
 }
@media only screen and (max-width: 940px) {
 	.row {
 		background-size: 90%;
 		transition: 0.5s;
 	}
 }
@media only screen and (max-width: 720px) {
 	.row {
 		background-size: 70%;
 		transition: 0.5s;
 	}
 }
@media only screen and (max-width: 480px) {
 	.row {
 		margin-top: 12%;
 		height: 6vw;
 		background-size: 55%;
 		transition: 0.5s;
 	}
 }
.row:hover {
	background-image: url(images/rowh.png);
	transition: 0.4s;
}
.sbtn {
	position: absolute;
	width: 2%;
	height: 6vw;
	margin-left: 1vw;
	margin-top: 10%;
	position: fixed;
}
@media only screen and (max-width: 480px) {
 	.sbtn {
 		margin-left: 2vw;
 		margin-top: 45%;
 		height: 10vw;
 		width: 4%;
 		transition: 0.5s;
 	}
 }
.sbtn a {
	display: block;
	height: 0.8vw;
	width: 0.8vw;
	margin-top: 1vw;
	border-radius: 1vw;
	background-color: white;
	opacity: 0.8;
}
@media only screen and (max-width: 480px) {
 	.sbtn a{
 		margin-top: 2vw;
 		height: 2vw;
 		width: 2vw;
 		transition: 0.5s;
 	}
 }
.sbtn li {
	list-style: none;
}
.logo {
	display: block;
	width: 13vw;
	height: 1.7vw;
	background-image: url("images/logo.png");
	background-repeat: no-repeat;
	background-size: 100%;
	float: left;
	margin-left: -65vw;
}
.img1 {
	position: absolute;
	display: block;
	width: 10vw;
	height: 32vw;
	background-image: url("images/human2.png");
	background-repeat: no-repeat;
	background-size: 100%;
	margin-left: 70%;
	z-index: 0;
}
@media only screen and (max-width: 480px) {
 	.img1 {
 		top: 9%;
 		margin-left: 40%;
 		height: 50vw;
 		width: 19vw;
 		transition: 0.5s;
 	}
 }
.img2 {
	position: absolute;
	display: block;
	width: 10vw;
	height: 25vw;
	background-image: url("images/human.png");
	background-repeat: no-repeat;
	background-size: 100%;
	margin-left: 70%;
	margin-top: 5%;
	z-index: 0;
}
@media only screen and (max-width: 480px) {
 	.img2 {
 		margin-left: 35%;
 		height: 50vw;
 		width: 22vw;
 		transition: 0.5s;
 	}
 }
.img1:hover {
	transform: scale(1.1, 1.1);
	transition: 0.5s;
}
.img2:hover {
	transform: scale(1.1, 1.1);
	transition: 0.5s;
}
.img1:hover .message {
	margin-top: 0;
	opacity: 1;
	transition: 0.9s opacity;
}
.img2:hover .message1 {
	margin-top: 0;
	opacity: 1;
	transition: 0.9s opacity;
}
.message {
	display: block;
	text-align: center;
	width: 130%;
	background-color: white;
	color: gray;
	font-family: Comic Sans MS;
	font-size: 1vw;
	padding: 1vw;
	border-radius: 6vw;
	position: absolute;
	margin-top: -500%;
	opacity: 0;
	margin-left: 45%;
}
@media only screen and (max-width: 1100px) {
 	.message {
 		margin-left: 30%;
 		transition: 0.5s;
 	}
 }
@media only screen and (max-width: 940px) {
 	.message {
 		margin-left: 20%;
 		transition: 0.5s;
 	}
 }
@media only screen and (max-width: 720px) {
 	.message {
 		margin-left: 10%;
 		transition: 0.5s;
 	}
 }
@media only screen and (max-width: 480px) {
 	.message {
 		margin-left: 0;
 		transition: 0.5s;
 	}
 }
.message1 {
	display: block;
	text-align: center;
	width: 170%;
	background-color: white;
	color: gray;
	font-family: Comic Sans MS;
	font-size: 1vw;
	padding: 1vw;
	border-radius: 6vw;
	position: absolute;
	margin-top: -500%;
	opacity: 0;
	margin-left: 55%;
}
@media only screen and (max-width: 1100px) {
 	.message1 {
 		margin-left: 30%;
 		transition: 0.5s;
 	}
 }
@media only screen and (max-width: 940px) {
 	.message1 {
 		margin-left: 20%;
 		transition: 0.5s;
 	}
 }
@media only screen and (max-width: 720px) {
 	.message1 {
 		margin-left: 10%;
 		transition: 0.5s;
 	}
 }
@media only screen and (max-width: 480px) {
 	 .message1 {
 		margin-left: 0;
 		transition: 0.5s;
 	}
 }
.registrationFormBlock {
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 5%;
	text-align: center;
}
@media only screen and (max-width: 480px) {
 	.registrationFormBlock {
 		margin-top: 15%;
 		width: 100%;
 		margin-left: 0;
 		margin-right: 0;
 		transition: 0.5s;
 	}
 }
.registrationFormBlock p{
	color: white;
	font-family: Verdana;
	font-size: 1.7vw;
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
	border-bottom: 0.1vw solid white;
}
@media only screen and (max-width: 480px) {
 	.registrationFormBlock p{
 		font-size: 4vw;
 		transition: 0.5s;
 	}
 }
.registrationFormSwitchButtons label{
	float: left;
	width: 39%;
}
.registrationFormSwitchButtons {
	margin-left: 17.5%;
}
.registrationForm {
	margin-top: 5%;
}
.input {
	float: bottom;
	width: 64%;
	height: 2.5vw;
	border-radius: 0.5vw;
	margin-bottom: 0.8vw;
	box-shadow: 0.1vw 0.1vw 0.1vw crimson;
	border: none;
	color: crimson;
	font-size: 2vw;
	font-family: Century Gothic;
	padding: 0.2vw;
 }
 @media only screen and (max-width: 480px) {
 	.input{
 		height: 7vw;
 		border-radius: 1vw;
 		font-size: 4vw;
 		margin-bottom: 2vw;
 		transition: 0.5s;
 	}
 }
.input:focus {
	border-radius: 0.5vw;
	margin-bottom: 0.8vw;
	box-shadow: 0.3vw 0.3vw 0.1vw crimson;
	border: none;
	outline: 0;
}
@media only screen and (max-width: 480px) {
 	.input:focus {;
 		border-radius: 1vw;
 		margin-bottom: 2vw;
 		box-shadow: 0.3vw 0.3vw 0.1vw crimson;
		border: none;
		outline: 0;
 		transition: 0.5s;
 	}
 }
.in1 {
	display: block;
	background-image: url("images/in.png");
	background-repeat: no-repeat;
	background-size: 100%;
	height: 3vw;
}
@media only screen and (max-width: 480px) {
 	.in1 {
 		height: 7vw;
 		transition: 0.5s;
 	}
 }
.reg1 {
	display: block;
	background-image: url("images/reg.png");
	background-repeat: no-repeat;
	background-size: 100%;
	margin-left: 0.5vw;
	height: 3vw;
}
@media only screen and (max-width: 480px) {
 	.reg1 {
 		height: 7vw;
 		transition: 0.5s;
 	}
 }
.in1:hover {
	background-image: url("images/inh.png");
	cursor: pointer;
	transition: 0.4s;
}
.in1:active {
	background-image: url("images/inp.png");
}
.reg1:hover {
	background-image: url("images/regh.png");
	cursor: pointer;
	transition: 0.4s;
}
.reg1:active {
	background-image: url("images/regp.png");
}
.go1 {
	display: block;
	background-image: url("images/quest.png");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 65%;
	height: 3vw;
	margin-left: 17.5%;
	margin-top: -0.1vw;
}
@media only screen and (max-width: 480px) {
 	.go1 {
 		margin-top: 3%;
 		height: 7vw;
 		transition: 0.5s;
 	}
 }
.go1:hover {
	background-image: url("images/questh.png");
	transition: 0.4s;
}
.go1:active{
	background-image: url("images/questa.png");
}
.orline {
	display: block;
	background-image: url("images/formborder.png");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 65%;
	height: 0.8vw;
	margin-left: 17.5%;
	margin-top: -0.4vw;
}
@media only screen and (max-width: 480px) {
 	.orline {
 		height: 2vw;
 		transition: 0.5s;
 	}
 }
.soc {
	margin-left: 17.5%;
	margin-top: 0.5vw;
}
.soc li {
	list-style: none;
	float: left;
	margin-right: 2%;
	display: block;
	width: 25%;
	height: 4vw;
}
@media only screen and (max-width: 480px) {
 	.soc li {
 		height: 7vw;
 		transition: 0.5s;
 	}
 }
.fb {
	background-image: url("images/fb.png");
	background-repeat: no-repeat;
	background-size: 100%;
}
.fb:hover {
	background-image: url("images/fbh.png");
	transition: 0.4s;
}
.fb:active {
	background-image: url("images/fba.png");
}
.tw {
	background-image: url("images/tw.png");
	background-repeat: no-repeat;
	background-size: 100%;
}
.tw:hover {
	background-image: url("images/twh.png");
	transition: 0.4s;
}
.tw:active {
	background-image: url("images/twa.png");
}

.goo {
	background-image: url("images/goog.png");
	background-repeat: no-repeat;
	background-size: 100%;
}
.goo:hover {
	background-image: url("images/googh.png");
	transition: 0.4s;
}
.goo:active {
	background-image: url("images/googa.png");
}
.form {
	display: block;
	text-align: center;
	width: 20vw;
	height: 21vw;
	padding: 1vw;
	background-color: white;
	border-radius: 1vw;
	color: black;
	font-size: 1.5vw;
	font-family: Comic Sans Ms;
	position: absolute;
	margin-left: -2vw;
	margin-top: 3.5vw;
	box-shadow: 0.2vw 0.2vw 0.2vw crimson;
	border-top: 0.1vw solid crimson;
	border-left: 0.1vw solid crimson;
	margin-left: -500%;
	transition: 0.5s;
}
.out {
	display: block;
	height: 3.5vw;
	width: 1vw;
	background-image: url("images/regbtnp.png");
	background-repeat: no-repeat;
	background-size: 99%;
	position: absolute;
	margin-top: 1.5vw;
	margin-left: -500%;
	transition: 0.5s;
}
@media only screen and (max-width: 1100px) {
 	.out {
 		background-size: 80%;
 		transition: 0.5s;
 	}
 }
@media only screen and (max-width: 940px) {
 	.out {
 		background-size: 70%;
 		transition: 0.5s;
 	}
 }
@media only screen and (max-width: 720px) {
 	.out {
 		background-size: 60%;
 		transition: 0.5s;
 	}
 }
@media only screen and (max-width: 480px) {
 	.out {
 		background-size: 50%;
 		transition: 0.5s;
 	}
 }
.out:hover {
	background-image: url("images/regbtnh.png");
	transition: 0.4s;
}
.out:active {
	background-image: url("images/regbtna.png");
}